@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=DynaPuff&family=Encode+Sans+Condensed&family=Fira+Sans&family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-body{
    font-family: 'Open Sans';
}

.bg-faculty{
    background-image: url(./assets/bg1.svg);
}

.bg-student{
    /* background-image: url(./assets/bg2.svg); */
    /* background-image: url(./assets/bg3.png); */
    --tw-bg-opacity: 0.5;
}

.grid-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
