@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=DynaPuff&family=Encode+Sans+Condensed&family=Fira+Sans&family=Open+Sans&family=Roboto+Condensed&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(144deg, #c1cbed 30%, #ab84f4);
  /* border-radius: 0.625rem; */
}

.font-body{
    font-family: 'Roboto Condensed';
}

.bg-banner{
    background-image: url(./assets/banner.svg);
    background-size: cover;
}

.bg-faculty{
    background-image: url(./assets/bg1.svg);
}

.bg-student{
    background-image: url(./assets/bg2.svg);
    background-size: cover;
}
